@font-face {
  src: url(./acrobat/Akrobat-Regular.ttf);
  font-family: 'Akrobat';
  font-weight: 400;
}

.genplan p {
  font-weight: normal;
}

.genplan iframe {
  max-width: 100%;
  height: auto;
}
.genplan h1, .genplan h2, .genplan h3 {
  font-weight: 500;
}
.genplan .plan {
  font-size: 23px;
  line-height: 27px;
  margin-bottom: 80px;
  margin-top: 44px;
}

.genplan .plan-description {
  position: relative;
  min-height: 348px;
}

.fixed-button {
  position: absolute;
  bottom: 10px;
  left: 30%;
}
.course-author {
  position: relative;
}
.author-clipped {
  /*clip-path: polygon(100% 1%, 100% 100%, 18% 100%, 18% 21%, 0 0);*/
  position: absolute;
  right: 0;
  top: 60px;
  bottom: 0;
}
.author-clipped img {
  max-height: 100%;
  /*width: auto;*/
}

@media screen and (max-width: 960px) and (min-width: 560px) {
  .author-clipped {
    position: relative;
  }
}

@media screen and (max-width: 560px) {
  .author-clipped {
    display: none;
  }
}

.btn.btn-checkout {
  color: #fff;
  background: #1C2536;
  padding: 5px 20px;
  font-family: 'Akrobat';
  border-radius: 5px;
}
.btn.btn-checkout:hover {
  background: #23527c;
}

.genplan .section {
  margin-bottom: 40px;
}

.genplan .panel.panel-primary {
  border-color: #1C2536;
  text-align: center;
}

.genplan .panel.panel-primary .panel-heading {
  background: #1C2536;
  border-color: #1C2536;
  color: #fff;
}
.genplan .panel.panel-primary .panel-heading p {
  color: #fff;
}

.tarif-name, .old-price {
  font-size: 21px;
  line-height: 25px;
}
.old-price {
  text-decoration: line-through;
}
.price {
  font-size: 35px;
}

.participation-variants .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.participation-variants .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.participation-variants .row > [class*='col-'] .panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.participation-variants .row > [class*='col-'] .panel .panel-body {
  /*-bottom: 60px;*/
  position: relative;
  min-height: 283px;
}

.participation-variants .row > [class*='col-'] .panel .panel-body .checkout {
  position: absolute;
  bottom: 28px;
  left: 50%;
}

.participation-variants .row > [class*='col-'] .panel .panel-body p {
  font-weight: normal;
}

.participation-variants .row > [class*='col-'] .panel .panel-body a.btn.btn-checkout {
  position: relative;
  left: -50%;
}

.course-price p {
  margin: 0;
}